.splash .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-control-next-icon:active{
  transform: scale(1.3);
}

.carousel-control-prev-icon:active{
  transform: scale(1.3);
}

.carousel-control-next-icon{
  -webkit-transition: all 300ms; /* Safari */
  transition: all 300ms;
}

.carousel-control-next-icon{
  -webkit-transition: all 300ms; /* Safari */
  transition: all 300ms;
}

.carousel-control-prev,
.carousel-control-prev{
      left: -3%;
}

.carousel-indicators {
  bottom:23px;
}

.image_setting{
  max-height:250px;
}

.carousel-inner img {
  margin: auto;
}