.state{
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
}
.state:hover{
    fill-opacity:0.5;
}
#tooltipPet {   
    position: absolute;           
    text-align: center;
    padding: 20px;             
    margin: 10px;
    font: 12px sans-serif;        
    background: lightsteelblue;   
    border: 1px;      
    border-radius: 2px;           
    pointer-events: none;   
}
#tooltipPet h4{
    margin:0;
    font-size:14px;
}
#tooltipPet{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}
#tooltipPet table{
    table-layout:fixed;
}
#tooltipPet tr td{
    padding:0;
    margin:0;
}
#tooltipPet tr td:nth-child(1){
    width:50px;
}
#tooltipPet tr td:nth-child(2){
    text-align:center;
}

#tooltipVet {   
    position: absolute;           
    text-align: center;
    padding: 20px;             
    margin: 10px;
    font: 12px sans-serif;        
    background: lightsteelblue;   
    border: 1px;      
    border-radius: 2px;           
    pointer-events: none;   
}
#tooltipVet h4{
    margin:0;
    font-size:14px;
}
#tooltipVet{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}
#tooltipVet table{
    table-layout:fixed;
}
#tooltipVet tr td{
    padding:0;
    margin:0;
}
#tooltipVet tr td:nth-child(1){
    width:50px;
}
#tooltipVet tr td:nth-child(2){
    text-align:center;
}

#tooltipShelter {   
    position: absolute;           
    text-align: center;
    padding: 20px;             
    margin: 10px;
    font: 12px sans-serif;        
    background: lightsteelblue;   
    border: 1px;      
    border-radius: 2px;           
    pointer-events: none;   
}
#tooltipShelter h4{
    margin:0;
    font-size:14px;
}
#tooltipShelter{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}
#tooltipShelter table{
    table-layout:fixed;
}
#tooltipShelter tr td{
    padding:0;
    margin:0;
}
#tooltipShelter tr td:nth-child(1){
    width:50px;
}
#tooltipShelter tr td:nth-child(2){
    text-align:center;
}

/* #d3text{
    background-color: rgba(26, 13, 0, .7); 
} */