
.SearchResult-card{
    /* height: 10vh; */
    display: flex !important;
    -webkit-flex-direction: row !important; 
    flex-direction: row !important;
    
    
    
}

.result-img{
    /* max-height: 20vh; */
    max-height:15vh;
    min-height: 15vh;
    max-width: 125px;
    width:100%;
    height:100%;
    object-fit: cover;

}

.result-card-body{
    /* margin-right:auto */
}
